@main("Render time/count per type", "type") {

<style type="text/css">
#chart {
  position: relative;
  height: 100%;
}

#chart .node {
  color: white;
  font-size: 13px;
  overflow: hidden;
  position: absolute;
  border: 1px solid white;
  padding: 5px;
  transition: background .5s;
}

#chart .node:hover {
  background: grey;
}

.type-label {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .4);
  padding: 4px;
}
</style>

<div class="chart-container">
  <div id="chart"></div>
</div>

<form style="position: fixed; bottom: 4px; right: 10px;">
  <label><input type="radio" name="mode" value="size" checked>
    Render time</label> <label><input type="radio" name="mode"
    value="count"> Count</label>
</form>

<script>
    var dataUrl = "@stats.routes.StatsController.getTypeData()";

    d3.json(dataUrl, function(error, data) {
        $("#total").html(data.total + "ms");
        $("#path").html(data.path);
        var color = d3.scale.category20c();

        var treemap = d3.layout.treemap().size([ 100, 100 ]).sticky(true).value(function(d) {
            return d.size;
        });

        var div = d3.select("#chart");

        function position() {
            this.style("left", function(d) {
                return d.x + "%";
            }).style("top", function(d) {
                return d.y + "%";
            }).style("width", function(d) {
                return d.dx + "%";
            }).style("height", function(d) {
                return d.dy + "%";
            });
        }

        function getLabel(d) {
            return d.name;
        }

        var node = div.datum(data).selectAll(".node").data(treemap.nodes).enter().append("div").attr("class", "node").call(position).style("background", function(d) {
            return d.children ? color(d.name) : null;
        }).html(function(d) {
            return d.children ? "<div class='type-label'>" + d.name + "</div>" : "<div>" + d.name + "</div>";
        }).attr("title", function(d) {
            return d.type;
        });

        d3.selectAll("input").on("change", function change() {
            var value = this.value === "count" ? function() {
                return 1;
            } : function(d) {
                return d.size;
            };

            node.data(treemap.value(value).nodes).call(position);
        });
    });
</script>
}
