h1 a , h2 a , h3 a , h4 a , h5 a , h6 a , h1 a:hover , h2 a:hover , h3 a:hover , h4 a:hover , h5 a:hover , h6 a:hover {
    color: #3a3a3a;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    line-height: 1.1;
}

img {
    width: 100%;
}

.article {
    .text-lead {
        font-weight: bold;
    }

    .elements .image p {
        font-size: 70%;
    }
}

.element-list h2 {
    font-size: 120%;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 6px;
}

.element-list ul {
    list-style-type: none;
    padding: 2px 0 0 6px;
}

.not-implemented {
    font-family: monospace;
    .panel-title {
        font-size: 14px;
    }

    .panel-body {
        font-size: 12px;
        overflow: auto;
    }
}

.img-container {
    position: relative;
    height: 0;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

li {
    font-size: 90%;
}

h2 {
    font-size: 240%;
    margin: 8px 0 4px;
}

.row .row {
    h2 {
        font-size: 140%;
    }

    p {
        font-size: 90%;
    }

    .row {
        h2 {
            font-size: 120%;
        }

        p {
            font-size: 70%;
        }
    }
}

.col-main > div, .col-right > div {
    margin-bottom: 20px;
}

div.subnav > ul.nav > li > a {
    padding: 10px 15px ! important;
}

div.subnav {
    height: auto;
    padding: 0 20px;
}

div.subnav ul.nav {
    height: auto ! important;
}

ul.nav li.selected a {
    font-weight: bold;
}
