@(model: Model)
<div class="article">
  @Dispatcher.render(ModelPathUtil.get(model, "images").asInstanceOf[Model])
  <h1>@ModelPathUtil.get(model, "name")</h1>
  <p class="text-lead">@ModelPathUtil.get(model, "lead")</p>
  <div class="row">
    <div class="col-md-8">
      <div>@Html(ModelPathUtil.get(model, "body/value").asInstanceOf[String])</div>
    </div>
    <div class="col-md-4 elements">
      @for(m <- ModelPathUtil.get(model, "images/list").asInstanceOf[List[Model]]) {
        @defining(ModelPathUtil.get(m, "content").asInstanceOf[Model]) { image =>
        <div class="image">
          @Dispatcher.render(image)
          <p>@ModelPathUtil.get(image, "name")</p>
        </div>
        }
      }
    </div>
  </div>
</div>
