@(model: Model, list: List[Model], columns: Integer, rows: Integer, suffix: Integer)
@import com.atex.plugins.grid._

@for(row <- 0 until rows) {
<div class="row">
  @for(column <- 0 until columns) {
  <div class="col-md-@suffix">
    @defining(row * columns + column) { index =>
      @if(index < list.size) {
        @defining(list(index)) { m =>
          @Dispatcher.render(ModelPathUtil.get(m, "content/images").asInstanceOf[Model])
          <h2><a href='@Dispatcher.path(ModelPathUtil.get(m, "content"))'>@ModelPathUtil.get(m, "content/name")</a></h2>
          <p class="lead">@ModelPathUtil.get(m, "content/lead")</p>
        }
      } else {
        <!-- No element -->
      }
    }
  </div>
  }
</div>
}
