@(widths: List[Integer], urlBuilder: com.atex.onecms.ws.image.ImageServiceUrlBuilder, alt: String, paddingBottom: Float, baseUrl: String)
<div class="img-container" data-alt="@alt"style="padding-bottom: @paddingBottom%;"
  @for(width <- widths) {
    data-src-@width="@baseUrl@urlBuilder.width(width).buildUrl()"
  }
>
  <noscript>
    <img src="@baseUrl@urlBuilder.width(widths(0)).buildUrl()" alt="@alt" />
  </noscript>
</div>
