@(model: Model, list: List[Object])
<div class="element-list">
  <h2 class="">@ModelPathUtil.get(model, "name")</h2>
  <ul>
  @for((p, i) <- list.zipWithIndex) {
    @defining(ModelPathUtil.get(p.asInstanceOf[Model], "content").asInstanceOf[Model]) { content =>
    <li><a href="@Dispatcher.path(content)">@ModelPathUtil.get(content, "name")</a></li>
    }
  }
  </ul>
</div>