@(modelType: String, name: String, id: String)
<div class="panel panel-info not-implemented" title="Not implemented">
  <div class="panel-heading">
    <h3 class="panel-title">@{modelType}</h3>
  </div>
  <div class="panel-body">
    Name: @{name}<br />
    Id: @{id}
  </div>
</div>
