@(model: Model, article: Model, name: String, teaser: String, image: Model, rect: java.awt.Rectangle)
<div class="teaser">
  @Dispatcher.render(ModelPathUtil.get(article, "images/list[0]/content").asInstanceOf[Model])
  @if(article != null) {
    <h2><a href="@Dispatcher.path(article)">@name</a></h2>
  } else {
    <h2>@name</h2>
  }
  @if(teaser != null) {
    <p>@teaser</p>
  }
</div>
